/*



*----------------------------------------------*
*                ### LINKS ###                 *
*----------------------------------------------*


https://www.awwwards.com/         - best pages
Caniuse.com                       - to check if picked technology works with browswer
www.color.adobe.com               - to check best color pick pallet.
Canva.com                         - Design Templates
Pixabay                           - pictures
Pixelsvideos                      - videos
Flaticon                          - icons
Templatemonster                   - page templates
Google fonts                      - fonts
https://roadmap.sh/frontend       - tree of fron-end skills
adobe xd                          - tool Create and share designs for websites, mobile apps.
https://mockflow.com/pricing/     - making mocks
irfanview, photoshop, Gimp        - Tool to edit images
https://www.photopea.com/         - online photoshop
ranking.gemius                    - Broswers ranking
mydevice: .io;                    - informations about pixels ratio in any device




*----------------------------------------------*
*                ### TOOLS ###                 *
*----------------------------------------------*


Colorzilla                        - extension to pick color
Firefox developer                 - firefox developer extension
Chrome developer tool             - chrome developer tool
Do brackets:
	Emmet                         - makes shortcut tips
	Beautify                      - correct visual code
	Todo                          - nice tool to comment to do list in work process
	Minimap                       - on the right shows visual legend code
	Brackets icons                - icons files


*/
