* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

main {
    display: flex;

    background-color: dodgerblue;
    text-transform: uppercase;
    color: white;
    height: 100vh;

}

main>img {
    height: 100vh;
}

main>div {

    max-width: 40%;
    height: 100vh;

}

main>div>h1 {
    font-size: 4rem;
    line-height: 7rem;
    margin-bottom: 10px;
}

main>div>h2 {
    line-height: 3rem;
}

main>div>p {
    font-size: 1.5rem;
    line-height: 3rem;
}

main>div>button {
    background-color: transparent;
    font-size: 1.5rem;
    text-transform: uppercase;
    padding: 15px;
    color: white;
    border: solid 2px white;
}