/*

https://www.awwwards.com/

Caniuse.com
Colorzilla
Firefox developer
Chrome developer tool
Do brackets:
	Emmet
	Beautify
	Motyw
	Todo
	Minimap
	Brackets icons
adobecolor
Canva.com
Pixabay
Pixelsvideos
Flaticon
Templatemonster
Google fonts
https://roadmap.sh/frontend
adobe xd
https://mockflow.com/pricing/
irfanview*/
